<mat-card>
  <mat-card-title>
    <h1 class="logo">Latest reviews</h1>
  </mat-card-title>
  <p>Read all the latest reviews from The theatre Company</p>
  <mat-grid-list cols="1" rowHeight="175px" gutterSize="20px">
    <mat-grid-tile *ngFor=' let review of allReviews; let i = index' class="announceCard">
      <mat-card class="announceCard ">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image">
            <i class="fa fa-film fa-2x"></i>
          </div>
          <mat-card-title>
            <h1 class="logo">{{review.title}}</h1>
          </mat-card-title>
          <mat-card-subtitle>{{review.year}}</mat-card-subtitle>
        </mat-card-header>
        <button mat-raised-button color="accent" [routerLink]="['/viewReviewOne', review._id]"
                routerLinkActive="active">View full Review
        </button>
        <button *ngIf="currentUser.role=='editor' ||(currentUser.role=='creator' && currentUser._id == review.reviewer)" [routerLink]="['/editReview', review._id]" class="btn btn-success">EDIT</button>
        <button *ngIf="currentUser.role=='editor' ||(currentUser.role=='creator' && currentUser._id == review.reviewer)" class="btn btn-danger" type="button" (click)="deleteFilm(review._id)">DELETE</button>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>


