
<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile>Announcement 1</mat-grid-tile>
  <mat-grid-tile>Announcement 2</mat-grid-tile>
  <mat-grid-tile>Announcement 3</mat-grid-tile>
  <mat-grid-tile>Announcement 4</mat-grid-tile>
</mat-grid-list>
<section class="cta-5 text-center">
<div class="container">
  <div class="row align-items-center">
    <div class="col-sm-8 text-center text-sm-left">
      <h2 class="mt-4 mb-2">Do you like what you see?</h2>
      <p class="lead mb-3">Sign up now to save 10% on your first order.</p>
    </div>
    <div class="col-sm-4">
      <button type="submit" class="btn btn-sm btn-success pill-btn mt-3">Get Started</button>
    </div>
  </div>
</div>
</section>
