<mat-card>
  <mat-card-title>
    <h1 class="logo">Latest reviews</h1>
  </mat-card-title>
  <div *ngFor=' let announcements of allAnnouncements'>
    <mat-card class="review_card">
      <mat-card-header>
        <h2>{{announcements.title}}</h2>
      </mat-card-header>
      <mat-card-content>
        <p>{{announcements.message}}</p>
      </mat-card-content>

    </mat-card>
    <!--  end of message card-->
    <mat-accordion>
      <mat-expansion-panel class="comments ">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Show Comments
          </mat-panel-title>
          <mat-panel-description>
            Click panel to show comments
          </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-card>
          <mat-card-content>
            <h4>Username</h4>
            <p>14:20 12/2/18</p>
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
              A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
              bred for hunting.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <!--<button mat-raised-button color="basic"-->
                    <!--*ngIf="currentUser.role === 'reader' || currentUser.role === 'editor'"-->
                    <!--class="btn btn-outline-primary " [routerLink]="['/viewreview']" role="button">edit-->
            <!--</button>-->
            <a *ngIf="currentUser.role === 'reader' || currentUser.role === 'editor'" [routerLink]="['/editAnnouncement, announcements._id']">Edit</a>

            <button mat-raised-button color="warn" *ngIf="currentUser.role === 'editor'"
                    class="btn btn-outline-primary "
                    [routerLink]="['/viewreview']" role="button">delete
            </button>
            <button mat-raised-button>report</button>
          </mat-card-actions>
        </mat-card>

        <mat-accordion>
          <mat-expansion-panel *ngIf="currentUser.role === 'reader' || currentUser.role === 'editor'">
            <mat-expansion-panel-header>
              Add Comment
            </mat-expansion-panel-header>
            <form (ngSubmit)="createComment(announcements._id)" #commentForm="ngForm">
              <!--<mat-form-field>-->
                <!--<input name="postID" matInput placeholder="postID" [value]="announcements.message"  [(ngModel)]="newComment.postID">-->
              <!--</mat-form-field>-->
              <mat-form-field>
                <textarea matInput name="message" placeholder="Leave a comment"
                          [(ngModel)]="newComment.message"></textarea>
              </mat-form-field>
              <button type="submit" mat-raised-button color="primary">Save Comment</button>
            </form>

          </mat-expansion-panel>

        </mat-accordion>


      </mat-expansion-panel>


      <!--<mat-expansion-panel *ngIf="currentUser.role === 'creator' || currentUser.role === 'editor'"-->
      <!--(opened)="panelOpenState = true" (closed)="panelOpenState = false" class="admin_toolbar">-->
      <!--<mat-expansion-panel-header>-->
      <!--<mat-panel-title>-->
      <!--Admin Controls-->
      <!--</mat-panel-title>-->
      <!--<mat-panel-description>-->
      <!--The article is {{panelOpenState ? 'closed ' : 'open'}} for comment<i-->
      <!--class="fa fa-{{panelOpenState ? 'lock ' : 'lock-open'}}"></i>-->


      <!--</mat-panel-description>-->
      <!--</mat-expansion-panel-header>-->
      <!--<p>Lock an article from being able to be commented on or reopen for discussion </p>-->
      <!--&lt;!&ndash;<mat-slide-toggle>Slide me!</mat-slide-toggle>&ndash;&gt;-->

      <!--<mat-radio-group class="example-radio-group">-->
      <!--<mat-radio-button class="example-radio-button">Open for comment</mat-radio-button>-->
      <!--<mat-radio-button class="example-radio-button">Closed for comment</mat-radio-button>-->
      <!--</mat-radio-group>-->
      <!--<p>Lock an article from being able to be commented on or reopen for discussion </p>-->

      <!--&lt;!&ndash;<button mat-raised-button color="primary">Delete</button>&ndash;&gt;-->
      <!--<button mat-raised-button color="accent" [mat-menu-trigger-for]="delete">Delete</button>-->
      <!--<mat-menu #delete="matMenu">-->
      <!--<p>Are you sure you want to delete this article?</p>-->
      <!--<button type="button" (click)="deleteFilm(review._id)">DELETE</button>-->
      <!--&lt;!&ndash;<button type="button" (click)="deleteFilm(review._id)">DELETE</button>&ndash;&gt;-->
      <!--&lt;!&ndash;<button mat-menu-item [routerLink]="['/editprofile']" routerLinkActive="active">Yes Delete</button>&ndash;&gt;-->

      <!--<button mat-menu-item [routerLink]="['/viewReviewOne/' + review._id]" routerLinkActive="active">View Single-->
      <!--Review-->
      <!--</button>-->
      <!--</mat-menu>-->
      <!--</mat-expansion-panel>-->
    </mat-accordion>

  </div>
</mat-card>

