<header class="bar">
  <mat-toolbar color="primary" class="row ">

    <div class="col offset-md-1">
<div class="row">
  <!--<i class="material-icons">movie</i>-->

  <a [routerLink]="['']" class="btn btn-link" routerLinkActive="active"> <h1> The Local Theatre </h1></a>

 </div>
    </div>
    <div class="row col-md-auto">
      <button *ngIf="!LoggedIn" mat-button [routerLink]="['viewreview']" routerLinkActive="active">Reviews</button>
      <button *ngIf="!LoggedIn" mat-button [routerLink]="['viewAnnouncement']" routerLinkActive="active">Anouncements</button>
      <!--<button mat-button [mat-menu-trigger-for]="aboutMenu">About Us<i class="material-icons">&#xE5C5;</i></button>-->
      <!--<button mat-button [mat-menu-trigger-for]="login">login<i class="material-icons">&#xE5C5;</i></button>-->

      <div *ngIf="LoggedIn">

        <button *ngIf="currentUser.role === 'creator' || currentUser.role === 'editor'" mat-button
                [mat-menu-trigger-for]="createMenu">
          <!--<i class="fa fa-address-book"></i>-->
          Reviews
          <i class="material-icons">&#xE5C5;</i>
        </button>
        <button mat-button [mat-menu-trigger-for]="userMenu">
          <!--<i class="fa fa-address-book"></i>-->
          {{ currentUser.email}}
          <i class="material-icons">&#xE5C5;</i>
        </button>
        <button *ngIf="currentUser.role ==='editor'" mat-button [mat-menu-trigger-for]="addMenu">
          Administration
          <i class="material-icons">&#xE5C5;</i>

        </button>
      </div>
    </div>
    <div class="col col-lg-1">
      <button *ngIf="!LoggedIn" class="btn-login" mat-raised-button color="accent" [routerLink]="['login']" routerLinkActive="active">login</button>
      <button *ngIf="LoggedIn" class="btn-login" mat-raised-button color="accent" [routerLink]="['logout']" routerLinkActive="active">logout</button>
    </div>
  </mat-toolbar>

  <!--About Menu-->
  <!--<mat-menu #aboutMenu="matMenu" mat-offset="0 6" >-->
    <!--<button mat-menu-item [routerLink]="['/wheretofindus']" routerLinkActive="active">Where to find us</button>-->
    <!--<button mat-menu-item [routerLink]="['/aboutus']" routerLinkActive="active">About us</button>-->
    <!--<button mat-menu-item [routerLink]="['/contactus']" routerLinkActive="active">Contact us</button>-->
  <!--</mat-menu>-->

  <!--login Menu-->
  <mat-menu #login="matMenu" mat-offset="0 6" >
    <button *ngIf="!LoggedIn" mat-menu-item [routerLink]="['register']" routerLinkActive="active">register</button>
    <button *ngIf="!LoggedIn" mat-menu-item [routerLink]="['login']" routerLinkActive="active">login</button>
    <button *ngIf="LoggedIn" mat-menu-item [routerLink]="['logout']" routerLinkActive="active">logout</button>
  </mat-menu>

  <!--Create Menu-->
  <mat-menu #createMenu="matMenu" mat-offset="0 6" >
    <button mat-menu-item [routerLink]="['viewreview']" routerLinkActive="active">View reviews</button>
    <button *ngIf="currentUser.role === 'editor' || currentUser.role === 'writer'" mat-menu-item [routerLink]="['/myreviews']" routerLinkActive="active">My Reviews</button>
    <button mat-menu-item [routerLink]="['/createreview']" routerLinkActive="active">Add New Review</button>
    <!--<button mat-menu-item [routerLink]="['/editreview']" routerLinkActive="active">Edit Review</button>-->
  </mat-menu>

  <!--User Menu-->
  <mat-menu #userMenu="matMenu" mat-offset="0 6" >
    <button mat-menu-item [routerLink]="['/myprofile']" routerLinkActive="active">Edit Profile</button>

    <button mat-menu-item [routerLink]="['/logout']" routerLinkActive="active">Log Out</button>
  </mat-menu>

  <!--Admin Menu-->
  <mat-menu #addMenu="matMenu" mat-offset="0 6" >
    <button *ngIf="currentUser.role === 'editor'" mat-menu-item [routerLink]="['/admindashboard']"
            routerLinkActive="active">Admin Dashboard</button>
    <button *ngIf="currentUser.role === 'editor'" mat-menu-item [routerLink]="['/createadmin']"
            routerLinkActive="active">Create Admin</button>
    <button *ngIf="currentUser.role === 'editor'" mat-menu-item [routerLink]="['/usermanager']"
            routerLinkActive="active">User Management</button>
  </mat-menu>
</header>

<app-alert></app-alert>
