<mat-card>
  <mat-card-header> <h1>Edit User Profile </h1></mat-card-header>
  <!-- $event, Title.value, Director.value, Studio.value, Year.value, Img.value, Review.value-->
  <form (ngSubmit)="edit()" #userForm="ngForm" >
    <mat-form-field>
      <input name="email" matInput placeholder="Email"  [(ngModel)]="currentUser.email">
    </mat-form-field>

    <mat-form-field>
      <input name="role" matInput placeholder="Role" [(ngModel)]="currentUser.role">
    </mat-form-field>


    <!--</mat-form-field>-->

    <button  class="btn btn-md btn-primary btn-block" type="submit">Submit</button>
  </form>
</mat-card>
