<mat-card>
  <mat-card-title>
    <h1 class="logo">Latest reviews</h1>
  </mat-card-title>

  <mat-card class="review_card ">

    <mat-card-header>
      <div mat-card-avatar class="example-header-image">
        <i class="fa fa-film fa-2x"></i>
      </div>
      <mat-card-title>
        <h1 class="logo">{{singleReview.title}}</h1>
      </mat-card-title>
      <mat-card-subtitle>Home for news and reviews of film and theatre</mat-card-subtitle>
    </mat-card-header>
    <div class="img_wrapper">
    </div>
    <mat-card-content>
      <p>{{singleReview.director}}</p>
      <p>{{singleReview.reviewer}}</p>
      <p>{{singleReview.review}}</p>
      <p>{{singleReview.studio}}</p>
      <p>{{singleReview.year}}</p>
      <p>{{singleReview._id}}</p>


    </mat-card-content>
    <mat-card-actions>
      <!--<button mat-raised-button color="accent">View review</button>-->
    </mat-card-actions>
  </mat-card>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Show Comments
        </mat-panel-title>
        <mat-panel-description>
          Click panel to show comments
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-card>
        <mat-card-content>
          <h4>Username</h4>
          <p>14:20 12/2/18</p>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="basic" *ngIf="currentUser.role === 'reader' || currentUser.role === 'editor'" class="btn btn-outline-primary " [routerLink]="['/viewreview']" role="button">edit</button>

          <button mat-raised-button color="warn" *ngIf="currentUser.role === 'editor'" class="btn btn-outline-primary " [routerLink]="['/viewreview']" role="button">delete</button>
          <button mat-raised-button>report</button>
        </mat-card-actions>
      </mat-card>

      <mat-accordion>
      <mat-expansion-panel *ngIf="currentUser.role === 'reader' || currentUser.role === 'editor'">
      <mat-expansion-panel-header>
      Add Comment
      </mat-expansion-panel-header>
      <mat-form-field>
      <input matInput placeholder="First name">
      </mat-form-field>

      <mat-form-field>
      <!--<input matInput placeholder="Age">-->
      <textarea matInput placeholder="Leave a comment"></textarea>
      </mat-form-field>
      <button mat-raised-button color="primary">SHARE</button>

      </mat-expansion-panel>

      </mat-accordion>


    </mat-expansion-panel>


    <mat-expansion-panel *ngIf="currentUser.role === 'creator' || currentUser.role === 'editor'"
    (opened)="panelOpenState = true" (closed)="panelOpenState = false" class="admin_toolbar">
    <mat-expansion-panel-header>
    <mat-panel-title>
    Admin Controls
    </mat-panel-title>
    <mat-panel-description>
    The article is {{panelOpenState ? 'closed ' : 'open'}} for comment<i
    class="fa fa-{{panelOpenState ? 'lock ' : 'lock-open'}}"></i>


    </mat-panel-description>
    </mat-expansion-panel-header>
    <p>Lock an article from being able to be commented on or reopen for discussion </p>
    <!--<mat-slide-toggle>Slide me!</mat-slide-toggle>-->

    <mat-radio-group class="example-radio-group">
    <mat-radio-button class="example-radio-button">Open for comment</mat-radio-button>
    <mat-radio-button class="example-radio-button">Closed for comment</mat-radio-button>
    </mat-radio-group>
    <p>Lock an article from being able to be commented on or reopen for discussion </p>

    <!--<button mat-raised-button color="primary">Delete</button>-->
    <button mat-raised-button color="accent" [mat-menu-trigger-for]="delete">Delete</button>
    <mat-menu #delete="matMenu">
    <p>Are you sure you want to delete this article?</p>
    <button type="button" (click)="deleteFilm(singleReview._id)">DELETE</button>
    <button type="button" (click)="getReviewbyID(singleReview._id)">View Single</button>
    <button mat-menu-item [routerLink]="['/editprofile']" routerLinkActive="active">Yes Delete</button>

    <!--<button mat-menu-item [routerLink]="['/logout']" routerLinkActive="active">Log Out</button>-->
    </mat-menu>
    </mat-expansion-panel>
  </mat-accordion>
</mat-card>


