
<div class="row">

  <mat-card class="col-sm-12">
    <div>
      <h3 class="logo">User Management</h3>
      <p>See a  list of all users and set their permissions or remove them</p>

      <button mat-raised-button color="accent" class="" [routerLink]="['/usermanager']" routerLinkActive="active">User Management</button>

    </div>
  </mat-card>
  <mat-card class="col-sm-12">
    <div>
      <h3 class="logo">Other Admin feature</h3>
      <p>In future this would be another admin feature</p>
      <button mat-raised-button color="accent" class="" >This button does nothing</button>

    </div>
  </mat-card>
  <mat-card class="col-sm-12">
    <div>
      <h3 class="logo">Other Admin feature</h3>
      <p>In future this would be another admin feature</p>
      <button mat-raised-button color="accent" class="" >This button does nothing</button>


    </div>
  </mat-card>
</div>

