<div class="jumbotron dark">
  <section *ngIf="!LoggedIn" class="cta-5 text-center">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-sm-8 text-center text-lg-left">
          <h2 class="mt-4 mb-2">Welcome to The Local Thearte Company </h2>
          <p class="lead mb-3">Read the latest reviews and news </p>
          <button mat-raised-button color="accent" [routerLink]="['login']" routerLinkActive="active">Login</button>
        </div>
        <div class="col col-sm-4">
          <img src="../../assets/chair.png" alt="chair">

        </div>
      </div>
    </div>
  </section>
  <section *ngIf="LoggedIn" class="cta-5 text-center">
    <div class="container">
      <div class="row ">
        <div class="col col-sm-4">
          <img src="../../assets/Cinema-icon.png" alt="chair">

        </div>
        <div class="col-sm-7 text-center text-lg-left">
          <h2 class="mt-4 mb-2">Welcome |username |</h2>
          <p class="lead mb-3">Read the latest reviews and news </p>
          <div class="">
            <button mat-raised-button color="accent" [routerLink]="['/viewReview']" routerLinkActive="active">Reviews</button>
            <button mat-raised-button color="accent" [routerLink]="['/viewAnnouncement']" routerLinkActive="active">Anouncements
            </button>

          </div>
        </div>

      </div>
    </div>
  </section>
</div>
<!--\\ \\ \\ Start of review container card  \\ \\ \\-->
<div class="row">
  <div class="col-sm-8">
    <div class="container">

      <app-view-reviews></app-view-reviews>
    </div>
  </div>


  <!-- - - - - - - - - - - - - - - - - - - - - - - - -
    Right hand div
    - - - - - - - - - - - - - - - - - - - - - - - -->
  <div class="col-sm-4">


    <mat-card>
      <div>
        <h3 class="logo">Latest News</h3>
        <p>View our latest news and announcements </p>
        <button mat-raised-button color="accent" class="" [routerLink]="['/viewAnnouncement']" routerLinkActive="active">
          View latest announcements
        </button>

      </div>
    </mat-card>
    <mat-card>
      <div>
        <h3 class="logo">Contact Us</h3>
        <p>Get in touch with us</p>
        <button mat-raised-button color="accent" class="" [routerLink]="['/contactus']" routerLinkActive="active">Contact
          Us
        </button>

      </div>
    </mat-card>
    <mat-card>
      <div>
        <h3 class="logo">Follow Us</h3>
        <p>Don't forget to follow us on to keep up to date</p>
        <button mat-raised-button color="accent" class=""><i class="fa fa-facebook-f fa-2x"></i></button>
        <button mat-raised-button color="accent" class=""><i class="fa fa-twitter fa-2x"></i></button>
        <button mat-raised-button color="accent" class=""><i class="fa fa-instagram fa-2x"></i></button>


      </div>
    </mat-card>
  </div>
</div>
<section class="dark container">
  <div class="row align-items-center">
    <div class="col-sm-8 offset-sm-1 ">
      <h2 class="mt-4 mb-2">Do you like what you see?</h2>
      <p class="lead mb-3">Sign up now to save 10% on your first order.</p>
    </div>
    <div class="col-sm-2">
      <button type="submit" class="btn btn-lg btn-success pill-btn mt-3">Get Started</button>
    </div>
  </div>
</section>

