.content-1, .content-2, .content-4 {
  background: #fff;
  padding-bottom: 0.1rem; }
.content-1 .container, .content-2 .container, .content-4 .container {
  margin: 5rem auto; }
.content-1 .full-width, .content-2 .full-width, .content-4 .full-width {
  width: 100%; }

h2{
  font-family: 'Contrail One', cursive;
  font-size: 1.6rem;
  letter-spacing: 3px;

}

.dark{
  background: RGBA(58, 79, 178, 1.00);
  color: white;
}


.comments{
  background: RGBA(211, 211, 211, 1.00);
  border-top: 2px solid RGBA(128, 162, 167, 0.60) ;
  border-bottom: 2px solid RGBA(128, 162, 167, 0.60) ;}

.review_card{
  /*border-bottom: 10px solid RGBA(128, 162, 167, 0.60) ;*/
}

.admin_toolbar{
  background:   RGBA(244, 113, 127, 0.20);
  border-top: 2px solid RGBA(128, 162, 167, 0.60) ;
  border-bottom: 2px solid RGBA(128, 162, 167, 0.60) ;

}

.img_wrapper{
  width: 100%;
  height: 200px;
  overflow: hidden;
  background: RGBA(253, 247, 221, 1.00);
  background: linear-gradient(to bottom right, cornflowerblue, skyblue );


}

.example-radio-group {
  display: inline-flex;
  flex-direction: column;
}

.example-radio-button {
  margin: 5px;
}

.example-selected-value {
  margin: 15px 0;
}
